---
interface Props {
  left: string;
  center: string;
  right: string;
  ariaLabel?: string;
}
const { left, center, right, ariaLabel = "man page header" } = Astro.props;
---
<header class="manhead" aria-label={ariaLabel}>
  <span class="manhead-l">{left}</span>
  <span class="manhead-c">{center}</span>
  <span class="manhead-r">{right}</span>
</header>
